<h2>Crear Campo</h2>
<form action="/area/newArea" method="post">
    <div>
        <input type="text" name="name" value = "<%= campo.name %>">  
    </div>
    
    <a href="/area">Cancel</a>
    <button type="submit">Create</button>
</form>