<header>
    <nav>
        <a href="/">Finca</a>
        <li><a href="/area">Area</a></li>
        <li><a href="/area/newArea">Crear Campos</a></li>
        <li><a href="/area/new">Asignar Cultivo</a></li>
        <li><a href="/cultivo">Cultivo</a></li>
        <li><a href="/cultivo/new">Nueva</a></li>
        <li><a href="/actividad">Actividad</a></li>
        <li><a href="/actividad/new">Nueva</a></li>
    </nav>
</header>