
<label>Cultivo</label>
<div>
    <input type="text" name="name" value="<%= cultivo.name %>">  
</div>
<div>
    <label>Description</label>
    <textarea name="description" cols="30" rows="10"><%= cultivo.description %></textarea>
</div>