<h2>Nuevo Cultivo</h2>
<form action="/cultivo/<%= cultivo.id %>?_method=PUT" method="post">
    <%- include('_form_fields') %> 
    <a href="/cultivo">Cancel</a>
    <button type="submit">Create</button>
</form>