
<label>Name</label>
<div>
    <input type="text" name="name" value = "<%= actividad.name %>">  
</div>
<div>
    <label>Description</label>
    <textarea name="description" cols="30" rows="10"><%= actividad.description %></textarea>
</div>